:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
  background-color: #000;
}

.header {
  opacity: var(--mainOpacity);
  height: 25em !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #000000;
}

.col-image-left {
  height: 25em !important;
}

.col-image-right {
  height: 25em !important;
}

.lost-image {
  height: 25em !important;
  width: "720"
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.header-widget-region {
  color: #fff;
  background-color: #0598B2;
  text-align: center;
  line-height: 3;
  position: center;
  font-weight: 500;
  height: 45px;
}

.carousel {
  position: top;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: top;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.05rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}

.img-fluid {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.img-fluid:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

#containerBackground {
  margin-top: 22px;
  background-image: url("images/brus.jpg");
  background-size: cover;
  background-position: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  max-width: 100%;
}

.container {
  margin-top: 90px !important;
}

.product1 {
  width: 25%;
  height: 600px;
  background: #F6F6F6;
  box-shadow: 0px 4px 27px -2px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
}

.rounded img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: relative;
}

.cardBicycle {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
}

.cardBicycle:hover {
  transform: translateY(-15px);
  transition: transform .3s;
}

.text1 {
  color: #000;
}

h5 {
  color: #0598B2;
  font-style: oblique;
}

.cost span {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.bicycle {
  background: green;
}

.bicycle i {
  margin-right: 10px;
}

.bicycle:hover {
  opacity: .9;
}

.price {
  margin-right: 15px;
  color: red
}

.notFound {
  color: red;
}

.infoContainer {
  margin-left: 80px !important;
  margin-right: 160px !important;
}

.checkoutContainer {
  width: 260px;
  height: 220px;
}

.available {
  text-align: center;
  margin-bottom: 30px;
}

.buttonForSignIn {
  background-color: #0598B2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.categoryName {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleAboutOffer {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.text-uppercase {
  color: #fff;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart {
  margin-left: 12px;
}

.login-container {
  display: flex;
  align-items: center;
  height: 87vh;
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  /* Customize the gradient colors */
}

.register-container {
  display: flex;
  align-items: center;
  height: 165vh;
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  /* Customize the gradient colors */
}

.auth-form {
  background-color: #fff;
  padding: 50px;
  /* Increase the padding to enlarge the form */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  /* Set a max-width to control the width of the form */
  margin: 0 auto;
  /* Center the form horizontally */
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.auth-form .form-group {
  margin-bottom: 20px;
}

.auth-form label {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.auth-form input {
  width: 100%;
  /* Make the input elements span the entire width of the form */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.auth-form button {
  width: 100%;
  /* Make the button span the entire width of the form */
  padding: 10px;
  background-color: #2193b0;
  /* Customize the button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.auth-form button:hover {
  background-color: #1c768f;
}

.forgotPassword {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
}

.buttonViewItems {
  background-color: #1c768f;
  color: #fff;
  width: 160px;
  margin-bottom: 8px;
}

.buttonViewItems:hover {
  background-color: #000;
  color: #fff;
}

.buttonAddToCart {
  background-color: darkgreen;
  color: #fff;
  width: 160px;
  margin-top: 8px;
}

.buttonAddToCart:hover {
  background-color: green;
  color: #fff;
}

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h1 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container h3 {
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h2 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item img {
  width: 130px;
  height: 110px;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
  font-size: 18px;
}

.cart-product-price {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
  margin-left: auto;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
  font-size: 25px;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.remove-button {
  background-color: transparent;
  color: #ff6b6b;
  border: none;
  cursor: pointer;
}

.admin {
  margin-right: 12px;
}

.choiceBox {
  margin-top: 15px;
}

.infoForChoice {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
  font-style: italic;
  margin-bottom: 5px;
}

.deliveryChoice {
  margin-bottom: 3px;
  margin-top: 10px;
}

.deliveryChoice {
  margin-top: 5px;
  margin-bottom: 10px;
}

.paymentChoice {
  margin-bottom: 10px;
}

.payment-page {
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.CardElement {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.payment-page {
  background-color: white;
  height: 88.5vh;
  /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
}

.payment-form-container {
  background-color: #91dae7;
  ;
  border: 1px solid #111111;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  /* Center the container horizontally */
  width: 400px;
  /* Set a maximum width for the container */
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  flex-basis: 48%;
  /* Adjust the width as needed */
  margin-bottom: 1rem;
  /* Adjust the margin as needed */
}

.card-number-field {
  order: 1;
  /* Change the order to adjust the positioning */
}

.expiry-field {
  order: 2;
  /* Change the order to adjust the positioning */
}

.cvv-field {
  order: 3;
  /* Change the order to adjust the positioning */
}

.submit-button {
  order: 4;
  flex-basis: 100%;
  background-color: #0598B2;
  border: none;
  border-radius: 10px;
  padding: 6px;
}

.submit-button:hover {
  background-color: #0b8fa7;
}